# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store

# Logs
*.log

# Optional: exclude dataset files if not needed
# car.data
# car.names
